@page
@model LogisticsBooking.FrontEnd.Pages.Transporter.Transporter_IndexModel
@{
    Layout = "_Layout_Transporter";
}

    <div class="py-5" style="">
        <div class="container">
            <div class="row">
                <div class="text-center mx-auto col-md-12">
                    
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 align-self-center">
                    <div class="card bg-light text-center">
                        <div class="card-body p-4">
                            <h3>AN</h3>
                            <h2> <b>Agri-norcold</b></h2> <a class="btn btn-link" href="http://agri-norcold.dk/DK.aspx" target="_blank">agri-norcold.dk</a>
                            <hr>
                            <ul class="list-unstyled my-3">
                                <h3>Vælg en afdeling</h3>
                                <li class="mb-1"><a asp-page="Booking/BookOrder">Hvidovre</a></li>
                                <li class="mb-1"><a asp-page="Booking">Kolding</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
               
                
            </div>
        </div>
    </div>
