
.vs/LogisticsBooking.FrontEnd/v15/Server/sqlite3/db.lock
.vs/LogisticsBooking.FrontEnd/v15/.suo
.vs/LogisticsBooking.FrontEnd/v15/.suo
.vs/LogisticsBooking.FrontEnd/v15/Server/sqlite3/storage.ide-wal
.vs/LogisticsBooking.FrontEnd/v15/.suo
*.ide-wal
.vs/LogisticsBooking.FrontEnd/v15/.suo
*.ide
*.ide-shm
*.ide-wal
*.dll
*.pdb
*.dll
*.pdb
*.dll
*.dll
*.dll
*.pdb
*.cache
LogisticsBooking.FrontEnd/obj/Debug/netcoreapp2.2/LogisticsBooking.FrontEnd.csproj.FileListAbsolute.txt
*.cache
