@page "{id}"
@model LogisticsBooking.FrontEnd.Pages.Client.Transporters.Transporter_SingleModel
@{
}



<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6 col-10">
                <h1>Eksisterende Transportør</h1>
                <p class="mb-3">Opdater den ønskede information ved at redigere i det passende felt, og tryk derefter 'Opdater'</p>
                <form method="post" class="text-left">
                    <div class="form-group"> 
                        <label for="form16">Firma</label>
                        <input asp-for="TransporterViewModel.Name" class="form-control" />
                        
                    </div>
                    <input type="hidden" asp-for="TransporterViewModel.TransporterId"/>
                    <div class="form-group"> <label for="form18">Email</label> <input asp-for="TransporterViewModel.Email" type="email" class="form-control" id="form18"  > </div>
                    <div class="form-group"> <label for="form18">Adresse</label> <input asp-for="TransporterViewModel.Address" class="form-control" id="form18" > </div>
                    <div class="form-group"> <label for="form18">Tel. nr</label> <input asp-for="TransporterViewModel.Telephone" class="form-control" id="form18"  > </div>
                    <input type="submit" asp-page-handler="Update" class="btn btn-primary"  value="Opdater"/>
                 
                </form>
                   <!--<button data-toggle="modal" data-target="#popup"  class="btn btn-primary">Slet</button> -->
                
              
            </div>
        </div>
    </div>
</div>


  <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Slet Booking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
            <p class="spaced-typography">Du er ved at slette transportør fra systemet. Dette er en permanent handling. Tryk 'bekræft' for at fortsætte. Tryk på krydset for at annullere.</p>
                </div>
                <div class="modal-footer">
                    <form asp-page-handler="delete" method="post"> 
                        <input type="hidden" hidden="hidden" asp-for="@Model.TransporterViewModel.TransporterId"/>
                        <button type="submit" class="btn btn-primary">Bekræft</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>


@section Scripts{
    <script>





</script>
}