@page
@model LogisticsBooking.FrontEnd.Pages.Client.Transporters.Transporter_CreateModel
@{
}

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6 col-10">
                
            </div>
        </div>
    </div>
</div>