@page
@model LogisticsBooking.FrontEnd.Pages.Client.Transporters.Transporter_CreateModel
@{
}

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6 col-10">
                <h1>Ny Transportør</h1>
                <p class="mb-3">Formular til at oprette transportører i systemet</p>
                <form class="text-left">
                    <div class="form-group"> <label for="form16">Firma Navn</label> <input type="text" class="form-control" id="form16" placeholder="Frode Laursen"> </div>
                    <div class="form-group"> <label for="form18">Email</label> <input type="email" class="form-control" id="form18" placeholder="xxxx@gmail.com"> </div>
                    <div class="form-group"> <label for="form18">Adresse</label> <input class="form-control" id="form18" placeholder=""> </div>
                    <div class="form-group"> <label for="form18">Tel. nr</label> <input class="form-control" id="form18" placeholder="+45 58548745"> </div>

                    <div class="form-group">

                    </div> <a asp-page="Transporters" type="submit" class="btn btn-primary">Opret</a>
                </form>
            </div>
        </div>
    </div>
</div>