@page "{id?}"
@using LogisticsBooking.FrontEnd.DataServices.Models
@model LogisticsBooking.FrontEnd.Pages.Client.Bookings.BookingOverviewModel



        <style>
                td.details-control {
                    text-align:center;
                    color:forestgreen;
            cursor: pointer;
        }
        tr.shown td.details-control {
            text-align:center; 
            color:red;
        }
        
        
       .container-fluid {
       width: 90%;
       }
       
       #example_filter {
       display: flex;
       justify-content: flex-end;
       }
       
        
    </style>

<body>
<div class="container">
    <div class="row bg-light dis">
        <div class="col">
              <button onclick="toggle('orderItem')" class="btn fas fa-toggle-on">Gem/Vis Alle</button>
        </div>
        <div class="col">
            <form asp-page-handler="ExportExcel" method="post">
                        <button class="btn fas fa-file-download"> Export</button>
                    </form>
        </div>
        <div class="col">
            <a asp-page="/Client/Bookings/BookingOverview" asp-route-id="7" class="btn fas fa-calendar-alt"><span>Ugen</span></a>
        </div>
        <div class="col">
                   <a asp-page="/Client/Bookings/BookingOverview" asp-route-id="31" class="btn fas fa-calendar-alt">Måneden</a>  
        </div>
        <div class="col">
           <a asp-page="/Client/Bookings/BookingOverviewAdmin" class="btn fas fa-edit">Rediger</a>         
        </div>
        
      
        
        
    </div>
</div>

<form method="post" asp-page-handler="Update">

<table style="background-color: white;" id="example" class="table" width="100%" >
    <thead>
    <tr>
        <th> </th>
        <th class="bootbox-alert">Dato</th>
        <th>ID</th>
        <th>Paller</th>
        <th>Navn</th>
        <th>Kontakt</th>
        <th>Port</th>
        <th>Faktisk<br/>Ankomst</th>
        <th>Start<br/>Læsning</th>
        <th>Slut<br/>Læsning</th>
        
    </tr>
    </thead>

    <tbody>
    @foreach (var schedule in @Model.BookingsListViewModel.Bookings)
    {
        <tr hidden="hidden">
            <input type="hidden" name="id" value="@schedule.InternalId"/>
        </tr>
    }
    </tbody>
   

</table>
    <input type="submit" hidden="hidden"/>
</form>
</body>


@section Scripts{

    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    

    <script>
        
        $(function () {
       var table = $('#example').DataTable( {
           "processing": true,
           "serverSide": false,
               "ajax": {
                               "url": "BookingOverview?handler=test",
                               "type": "GET",
                               "datatype": "application/json",
                               "dataSrc": "bookings",
                               
                           },
                           
               "columns": [
                   {
                                        "className": 'details-control',
                                        "orderable": false,
                                        "data": "internalId",
                                        "defaultContent": '',
                                        "render": function (data) {
                                            return '<i class="fa fa-plus-square" aria-hidden="true"></i> <input type="hidden" name="id" value="' + data + '">';
                                        },
                                        width:"15px"
                                    },
                   { 
                       "data": "bookingTime" , render: function(data ) {
                           return moment(data).format("dddd DD MM") + '<input type="hidden" name="dateTo" value=" ' + data + ' "/>';
                       }
                   },
                   { "data": "externalId" },
                  
                   { "data": "totalPallets" },
                   { "data": "transporterName" },
                   { "data": "email" },
                   {"data" : "port"},
                   {"data" : "actualArrival" , render: function(data){
                        return '<input class="form-control" name="actualArrival" value="' +moment(data).format("HH:mm")+'" type="time"/> '
                   } },
                                                                  
                   {"data" : "startLoading" , render: function(data){
                                                                    return '<input class="form-control" name="startLoading" value="' + moment(data).format("HH:mm")+'"  type="time"/> '
                                                               }},
                   {"data" : "endLoading" , render: function(data){
                                                                  return  ' <input  class="form-control" name="endLoading" value="'+  moment(data).format("HH:mm")   +'" type="time"/>  '
                                                             }},
                   
                   
               ]
           } );
       
      
            
    // Add event listener for opening and closing details
         $('#example tbody').on('click', 'td.details-control', function () {
             var tr = $(this).closest('tr');
             var tdi = tr.find("i.fa");
             var row = table.row(tr);

             if (row.child.isShown()) {
                 // This row is already open - close it
                 row.child.hide();
                 tr.removeClass('shown');
                 tdi.first().removeClass('fa-minus-square');
                 tdi.first().addClass('fas fa-angle-down');
             }
             else {
                 // Open this row
                 row.child(format(row.data())).show();
                 tr.addClass('shown');
                 tdi.first().removeClass('fas fa-angle-down');
                 tdi.first().addClass('fa-minus-square');
             }
         });

         table.on("user-select", function (e, dt, type, cell, originalEvent) {
             if ($(cell.node()).hasClass("details-control")) {
                 e.preventDefault();
             }
         });
         
    } );
   
        function toggle(className) {
            var x = '.' + className;
            if ($(x).is(":hidden")) {
                show(className)
            } else {
                hide(className)
            }
        }
  
 
        function hide(className) {
            var x = '.' + className;
            $(x).hide();
        }
   


        function show(className) {
            var x = '.' + className;
            $(x).show();
    }

      
    function format(d){
            console.log(d.ordersListViewModel.length);
            var table = "";
            for(var i=0; i<d.ordersListViewModel.length;i++) {
                table += '<table cellpadding="5" class="table table-hover table-sm " cellspacing="0" border="0" style="background-color: #f8f9fa; width: 100%; padding-left:50px;">' +
                                                              
                                                              '<thead class="thead-dark">' + 
                                                              '<tr>' + 
                                                              '<td> ID </td>' + 
                                                               '<td> Kunde  </td>' +
                                                                  '<td> Kunde tlf  </td>' +
                                                                '<td> Total pallets </td>' +
                                                                '<td> Bottom Pallets </td>' +
                                                                '<td> Comment </td>' +
                                                                '</tr>' + 
                                                                '</thead>' + 
                                                                '<tbody>' + 
                                                              '<tr>' + 
                                                                '<td>'+ d.ordersListViewModel[i].externalId +'</td>' +  
                                                                 '<td>'+ d.ordersListViewModel[i].supplierViewModel.name +'</td>' +  
                                                                 '<td>'+ d.ordersListViewModel[i].supplierViewModel.telephone +'</td>' +  
                                                                  '<td>'+ d.ordersListViewModel[i].totalPallets +'</td>' +  
                                                                  '<td>'+ d.ordersListViewModel[i].bottomPallets+' </td>' +    
                                                                     '<td>'+ d.ordersListViewModel[i].comment+' </td>' +    
                                                              '</tr>' +
                                                              '</tbody>' + 
                                                             
                                                          '</table>';  
            }
        
       return  table;
            
             // `d` is the original data object for the row
            
        }
    
 
        

    
    </script>
}