@page "{id?}"
@using LogisticsBooking.FrontEnd.DataServices.Models
@model LogisticsBooking.FrontEnd.Pages.Client.Bookings.BookingOverviewModel

@{
    
}

        <style>
                td.details-control {
                    text-align:center;
                    color:forestgreen;
            cursor: pointer;
        }
        tr.shown td.details-control {
            text-align:center; 
            color:red;
        }
        
        
       .container-fluid {
       width: 90%;
       }
       
       #example_filter {
       display: flex;
       justify-content: flex-end;
       }
       
        
    </style>

<body>
<div class="container">
    <div class="row bg-light dis">
        <div class="col">
              <button onclick="toggle('orderItem')" class="btn fas fa-toggle-on">Gem/Vis Alle</button>
        </div>
        <div class="col">
            <form asp-page-handler="ExportExcel" method="post">
                        <button class="btn fas fa-file-download"> Export</button>
                    </form>
        </div>
        <div class="col">
            <a asp-page="/Client/Bookings/BookingOverview" asp-route-id="7" class="btn fas fa-calendar-alt"><span>Ugen</span></a>
        </div>
        <div class="col">
                   <a asp-page="/Client/Bookings/BookingOverview" asp-route-id="31" class="btn fas fa-calendar-alt">Måneden</a>  
        </div>
        <div class="col">
           <a asp-page="/Client/Bookings/BookingOverviewAdmin" class="btn fas fa-edit">Rediger</a>         
        </div>
        
      
        
        
    </div>
</div>

<form method="post" asp-page-handler="Test">
<table style="background-color: white;" id="example" class="table" width="100%" >
    <thead>
    <tr>
        <th> </th>
        <th class="bootbox-alert">Dato</th>
        <th>ID</th>
        <th>Paller</th>
        <th>Navn</th>
        <th>Kontakt</th>
        <th>Port</th>
        <th>Faktisk<br/>Ankomst</th>
        <th>Start<br/>Læsning</th>
        <th>Slut<br/>Læsning</th>
    </tr>
    </thead>

   

</table>
    <input type="submit" hidden="hidden"/>
</form>
</body>


@section Scripts{

        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    
    <script>
        $(function () {
       var table = $('#example').DataTable( {
           "processing": true,
           "serverSide": false,
               "ajax": {
                               "url": "BookingOverview?handler=test",
                               "type": "GET",
                               "datatype": "application/json",
                               "dataSrc": "bookings",
                               
                           },
                           
               "columns": [
                   {
                                        "className": 'details-control',
                                        "orderable": false,
                                        "data": null,
                                        "defaultContent": '',
                                        "render": function () {
                                            return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                                        },
                                        width:"15px"
                                    },
                   { 
                       "data": "bookingTime" , render: function(data ) {
                           return moment(data).format("dddd DD MM");
                       }
                   },
                   { "data": "externalId" },
                   { "data": "totalPallets" },
                   { "data": "transporterName" },
                   { "data": "email" },
                   {"data" : "port"},
                   {"data" : "actualArrival" , render: function(data){
                        return '<input class="form-control" value="' +moment(data).format("HH : mm")+'" type="time"/> '
                   } },
                                                                  
                   {"data" : "startLoading" , render: function(data){
                                                                    return '<input class="form-control" value="' +moment(data).format("HH : mm")+'" type="time"/> '
                                                               }},
                   {"data" : "endLoading" , render: function(data){
                                                                  return  ' <input  class="form-control" name="end" '+  moment(data).format("HH : mm")   +' type="time"/>  '
                                                             }},
                   
                   
               ]
           } );
       
      
            
    // Add event listener for opening and closing details
         $('#example tbody').on('click', 'td.details-control', function () {
             var tr = $(this).closest('tr');
             var tdi = tr.find("i.fa");
             var row = table.row(tr);

             if (row.child.isShown()) {
                 // This row is already open - close it
                 row.child.hide();
                 tr.removeClass('shown');
                 tdi.first().removeClass('fa-minus-square');
                 tdi.first().addClass('fa-plus-square');
             }
             else {
                 // Open this row
                 row.child(format(row.data())).show();
                 $(row.child()).addClass('smalltable');
                 tr.addClass('shown');
                 tdi.first().removeClass('fa-plus-square');
                 tdi.first().addClass('fa-minus-square');
             }
         });

         table.on("user-select", function (e, dt, type, cell, originalEvent) {
             if ($(cell.node()).hasClass("details-control")) {
                 e.preventDefault();
             }
         });
         
    } );
   
        function toggle(className) {
            var x = '.' + className;
            if ($(x).is(":hidden")) {
                show(className)
            } else {
                hide(className)
            }
        }
  
 
        function hide(className) {
            var x = '.' + className;
            $(x).hide();
        }
   


        function show(className) {
            var x = '.' + className;
            $(x).show();
    }

      
    function format(d){
        
       return  '<table cellpadding="5" class="table table-hover table-sm table-borderless" cellspacing="0" border="0" style=" width: 100%; padding-left:50px;">' +
                                     '<tr>' + 
                                         '<td>Full name:</td>' +  
                                         '<td>' +  '</td>' +
                                     '</tr>' +
                                    
                                 '</table>';  
            
             // `d` is the original data object for the row
            
        }
    
 
        

    
    </script>
}