
@model LogisticsBooking.FrontEnd.DataServices.Models.Transporter.Transporter.TransporterViewModel

@if (Model != null)
{
    <button class="btn btn-primary dropdown-toggle margin-right-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.Email
    </button>

}
else
{
    <button class="btn btn-primary dropdown-toggle margin-right-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       An@@agri-norcold.dk
    </button>
}



