
@model LogisticsBooking.FrontEnd.DataServices.Models.ApplicationUser.ApplicationUserViewModel

@if (Model != null)
{
    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Model.Email</span>
}
else
{
    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Model.Email</span>
}



