@page
@model LogisticsBooking.FrontEnd.Pages.Client.Suppliers.Supplier_SingleModel
@{
}

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6 col-10">
                <h1>Eksisterende kunde</h1>
                <p class="mb-3">Opdater informationer ved at udskifte de genererede værdier i felterne under</p>
                <form class="text-left">
                    <div class="form-group"> <label for="form16">Kundenavn</label> <input type="text" class="form-control" id="form16" placeholder="Netto"> </div>
                    <div class="form-group"> <label for="form17">Kunde Nr</label> <input type="text" class="form-control" id="form17" placeholder="405454545"> </div>
                    <div class="form-group"> <label for="form18">Kontakt</label> <input type="email" class="form-control" id="form18" placeholder="Netto@netto.dk"> </div>

                    <div class="form-group">

                    </div> <button asp-page="Suppliers" type="submit" class="btn btn-primary">Opdater</button>
                </form>
            </div>
        </div>
    </div>
</div>