@page
@model LogisticsBooking.FrontEnd.Pages.Client.Schedule.MasterScheduleSingle



<div class="container">
    
  <div class="card">
    
    <h2 class=" m-5 text-center">Name of plan : @Model.MasterScheduleStandardViewModel.Name</h2>

    

    <table class="table">
      <thead>
      <tr>
        <th scope="col">Paller</th>
        <th scope="col">Starttid</th>
        <th scope="col">Sluttid</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var item in Model.MasterScheduleStandardViewModel.MasterIntervalStandardViewModels)
      {
        <tr>

          <td style="width: 20%"><input class="form-control text-center" value="@item.BottomPallets" type="number"/></td>
          <td><input readonly="readonly" class="form-control text-center" value="@item.StartTime.Value.TimeOfDay" type="time"/></td>
          <td><input readonly="readonly"  class="form-control text-center"  value="@item.EndTime.Value.TimeOfDay" type="time"/></td>
        </tr>
        
      }
      
      

      </tbody>
    </table>
    
    <div class="row">
      <div class="col d-flex justify-content-end">
         <button class=" m-2 btn btn-primary"> Opdater</button>
         <button class="m-2 btn btn-danger"> Slet</button>
      </div>
    </div>
   
  </div>
  
  </div>