@page
@model LogisticsBooking.FrontEnd.Pages.Client.Schedule.Schedule_Single

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>