@page
@using MoreLinq.Extensions
@model LogisticsBooking.FrontEnd.Pages.Client.admin.AllUsers


<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-xs-12 col-md-3">

            <div class="content ">
         
                <ul class="nav flex-column">
              
                    <li class="nav-item">
                        <a asp-page="AdminOverview" class="nav-link">Overblik</a>
                         
                    </li>
                    <div class="border-top my-3"></div>
                    
                    <li class="nav-item">
                       <a asp-page="AllUsers" class="nav-link">Alle brugere</a>
                    </li>
                    
                    <div class="border-top my-3"></div>
                    <li class="nav-item">
                                            <a asp-page="CreateApplicationUser" class="nav-link">Opret Bruger</a>
                                        </li>
                    <div class="border-top my-3"></div>
                    
                </ul>
              

         
            </div>

        </div>
        <div class="col-xs-12 col-md-5 ">

            <div class="content ">
                
                <table class="table">
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th>Role</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    
                    @foreach (var user in Model.ApplicationUserViewModels.ApplicationUserViewModels)
                    {

                        <tr>
                            <td><a asp-page="UserSingle" asp-route-id="@user.ApplicationUserId">@user.Email</a></td>
                            <td>
                            @foreach (var role in user.ActiveRoles)
                            {
                                @role.Name @: <text> , </text>
                            }
                            </td>
                        </tr>

                    }



                    </tbody>
                </table>
                
            </div>

        </div>
        <div class="col-xs-12 col-md-1 ">
        </div>
        
        </div>
</div>
