@page
@using LogisticsBooking.FrontEnd.DataServices.Models.ApplicationUser
@model LogisticsBooking.FrontEnd.Pages.Client.admin.UserSingle


<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-xs-12 col-md-3">

            <div class="content ">
         
                <ul class="nav flex-column">
              
                    <li class="nav-item">
                        <a asp-page="AdminOverview" class="nav-link">Overblik</a>
                         
                    </li>
                    <div class="border-top my-3"></div>
                    
                    <li class="nav-item">
                       <a asp-page="AllUsers" class="nav-link">Alle brugere</a>
                    </li>
                    <div class="border-top my-3"></div>
                    
                    <li class="nav-item">
                                            <a asp-page="CreateApplicationUser" class="nav-link">Opret Bruger</a>
                                        </li>
                    <div class="border-top my-3"></div>
                    
                </ul>
              

         
            </div>

        </div>
        <div class="col-xs-12 col-md-8 ">

            <div class="content ">
                
               <div class="text-center">
                   <div class="container">
                       <div class="row">
                           <div class="mx-auto col-lg-6 col-10">
                               <h1>Eksisterende bruger</h1>
                               <p class="mb-3">Her kan du redigere og slette den valgte bruger</p>
                               <form method="post"  class="text-left">
                                   <input hidden="hidden" type="hidden" asp-for="ApplicationUserViewModel.ApplicationUserId"/>
                                   <div class="form-group"> 
                                       <label for="form16">Navn</label>
                                       <input asp-for="@Model.ApplicationUserViewModel.Name" class="form-control" readonly="" />
                                   </div>
                                   <input type="hidden" />
                                   <div class="form-group">
                                       <label for="form18">Email</label> 
                                       <input asp-for="@Model.ApplicationUserViewModel.Email" type="email" class="form-control" id="form18" >
                                   </div>
                                   
                                   <div class="form-group">
                                       <label for="form18">Tilknyttede Roller</label> 
                                       <select readonly="readonly" asp-for="@Model.SelectedActiveRole" asp-items="Model.ActiveRoles" class="form-control" id="form18">
                                           
                                       </select>
                                   </div>
                                   

                                  
                                   <input type="submit" asp-page-handler="UpdateUser" class="btn btn-primary"  value="Opdater"/>
                               
                                  
                               <button data-toggle="modal" data-target="#popup"  class="btn btn-primary">Slet</button>
                             </form>
                           </div>
                       </div>
                   </div>
               </div>

                
            </div>

        </div>
        <div class="col-xs-12 col-md-1 ">
        </div>
        
        </div>
</div>








  <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Slet Bruger</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
            <p class="spaced-typography">Du er ved at slette en bruger fra systemet. Dette er en permanent handling og kan ikke fortrydes.</p>
                </div>
                <div class="modal-footer">
                    <form asp-page-handler="delete" method="post">
                        <input hidden="hidden" type="hidden" asp-for="@Model.ApplicationUserViewModel.ApplicationUserId" />
                        <button type="submit" class="btn btn-primary">Bekræft</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>