@page
@using LogisticsBooking.FrontEnd.DataServices.Models
@model LogisticsBooking.FrontEnd.Pages.Transporter.Booking.bookings

@{
    Layout = "_Layout_Transporter";
}


<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-5 col-md-7 col-10">
                <h1>Bookings</h1>
                <p class="mb-3">Click on a individual booking to see further information</p>
            </div>
        </div>
    </div>
</div>
<div class="py-5" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-group" style="">
                    @foreach (Booking booking in Model.Bookings)
                    {
                        <a asp-page="/Supplier/Individual_MadeBooking" class="list-group-item list-group-item-action display-spacebetween">
                            <div>@booking.transporterName</div>
                            
                            <div>Dato: @booking.bookingTime.Date</div>
                            <div>Tid: @booking.bookingTime.TimeOfDay</div>
                        </a>
                    }
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
