@page
@model LogisticsBooking.FrontEnd.Pages.Transporter.Booking.confirm

@{
    Layout = "_Layout_Transporter";
}

<div class="py-1" style="">
    <div class="container">

            <!-- Horizontal Steppers -->
            <div class="row">
                <div class="col-md-12">

                    <!-- Stepers Wrapper -->
                    <ul class="stepper stepper-horizontal">

                        <!-- First Step -->
                        <li class="completed">
                            <a href="#!">
                                <span class="circle"><i class="fas fa-check"></i></span>
                                <span class="label">Opret Ordre</span>
                            </a>
                        </li>

                        <!-- Second Step -->
                        <li class="completed">
                            <a href="#!">
                                <span class="circle"><i class="fas fa-check"></i></span>
                                <span class="label">Oplysninger</span>
                            </a>
                        </li>

                        <!-- Third Step -->
                        <li class="completed">
                            <a href="#!">
                                <span class="circle"><i class="fas fa-check"></i></span>
                                <span class="label">Book Tidspunkt</span>
                            </a>
                        </li>
                        
                        <!-- Third Step -->
                        <li class="completed">
                            <a href="#!">
                                <span class="circle"><i class="fas fa-check"></i></span>
                                <span class="label">Gennemført</span>
                            </a>
                        </li>

                    </ul>
                    <!-- /.Stepers Wrapper -->

                </div>
            </div>


    </div>
</div>  

<div class="py-1 text-center" style="">
    <div class="container text-center">
        <div class="row text-center" >
            <div class="mx-auto p-4 col-lg-7">
                <h1>Ordren er gennemført</h1>
            </div>
        </div>
        <div class="row" >
            <div class="mx-auto p-4 col-lg-7">
                <h3>Der bliver sendt en mail med alle detaljer</h3>
            </div>
        </div>
    </div>
</div>
