@page
@using LogisticsBooking.FrontEnd.DataServices.Models
@model LogisticsBooking.FrontEnd.Pages.Transporter.Booking.select_time

@{
    Layout = "_Layout_Transporter";
}

<div class="py-1" style="">
    <div class="container">

            <!-- Horizontal Steppers -->
            <div class="row">
                <div class="col-md-12">

                    <!-- Stepers Wrapper -->
                    <ul class="stepper stepper-horizontal">

                        <!-- First Step -->
                        <li class="completed">
                            <a href="#!">
                                <span class="circle"><i class="fas fa-check"></i></span>
                                <span class="label">Opret Ordre</span>
                            </a>
                        </li>

                        <!-- Second Step -->
                        <li class="completed">
                            <a href="#!">
                                <span class="circle">2</span>
                                <span class="label">Oplysninger</span>
                            </a>
                        </li>

                        <!-- Third Step -->
                        <li class="active">
                            <a href="#!">
                                <span class="circle">3</span>
                                <span class="label">Tidspunkt</span>
                            </a>
                        </li>
                        
                        <!-- Third Step -->
                        <li class="">
                            <a href="#!">
                                <span class="circle">3</span>
                                <span class="label">Gennemført</span>
                            </a>
                        </li>

                    </ul>
                    <!-- /.Stepers Wrapper -->

                </div>
            </div>


    </div>
</div>  
<div class="py-5" style="">
    <div class="container">
        
        <div class="row">
            <div class="mx-auto p-4 col-lg-8">
               
                @foreach (Interval interval in Model.schedule.Intervals)
                {
                   
                    <div class="col-md">
                        <div class="list-group" style="">
                            <form method="post" >
                                <button class="list-group-item list-group-item-action" type="submit"  asp-page-handler="SelectedTime" >                             
                                    <div class="display-spacebetween">
                                        <input type="hidden" asp-for="interval.IntervalId" value="@interval.IntervalId"/>
                                        <input type="hidden" asp-for="schedule.ScheduleId"/>
                                        <div class="">@interval.StartTime.ToString("t") - @interval.EndTime.ToString("t") </div>
                                        <div class="">@interval.BottomPallets</div>
                                    </div>                        
                                </button>
                            </form>             
                           
                        

                        </div>
                    </div>
               
                }
                
              
            </div>
            <div class="mx-auto p-4 col-lg-4">
                <form>
                    
                    <h1>Currently Booking</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-auto">
                                <p>Dato</p>
                            </div>
                            <div class="col-lg-auto">
                                <p>type</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
